@font-face {font-family:Sinera; src:url('Sinera.ttf');}

body {background-color:#faead2;}
header h1 {text-align:center; color:#c67776; font-size:45px; font-family:Sinera;}
header h1:hover {color:#677986;}
h1.purple {color:#b1a7ad; font-size:30px; margin:20px;}
h1.dark {color:#754d53; font-size: 30px; margin:20px;}
h1.left {clear:both;float:left;color:#89936b; font-size:30px; margin:20px;}
nav {margin:20px;color:#677986;border:2px solid #9d6457; padding:3px; background-color:#d1a589; text-align:center;font-size:27px;background-clip:content-box;}
button {background-color:#b4bbb7; font-size:15px;}
a.link {color:#677986;}
a.link:hover{color:#f7c5b1}
p {color:white; font-size:25px; margin:20px; border:2px solid #677986; background-color:#b4bbb7;}
p.left {clear:both;float:left; color:white; font-size:25px; margin:20px; border:2px solid #677986; background-color:#b4bbb7; width: 980px;}
figure {position:relative; left: 25px; top:12px; text-align:center;}
figure > img {width:25%}
figure >figcaption {animation:anim 5s infinite;}
footer {opacity:0.5; clear:both;}
footer:hover {visibility:hidden;}
h2::selection {background-color:#f7c5b1;}

@keyframes anim
{
0% {color:#c67776;}
33% {color:#677986;}
66% {color:#b1a7ad;}
100% {color:#89936b;}
}
